@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
    text-decoration: underline;
    color: #039BE5;
}

.content {
    max-width: 1024px;
}

/* Fixes an MDL bug where the header does not scroll on small devices */
.mdl-layout__container .mdl-layout--fixed-header .mdl-layout__content {
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}

/* Overrides MDL colors */
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after, .header .mdl-textfield__label:after {
    background-color: #FFCA28;
}

/* Header */
.logo {
    font-family: 'Roboto', sans-serif;
}

.logo .material-icons {
    top: 4px;
    font-size: 32px;
    margin-right: -2px;
    position: relative;
}

.header .mdl-layout__header-row {
    max-width: 1024px;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin: auto;
    position: relative;
}
